/*------HEADER--------*/
@media (min-width: 270px) {
  /*-------------MAIN---------------*/

  main {
    background-color: var(--light-grey);
    width: 100vw;
    padding: 10px 0;
  }

  main article {
    background-color: #ffff;
    margin: 10px auto;
    width: 90%;
  }
  main article:hover {
    box-shadow: 0px 0px 20px gray;
  }
  main h2 {
    color: var(--dark-grey);
    text-align: center;
    padding: 5px;
    font-size: 24px;
  }
  article img {
    width: 100%;
    height: 70%;
  }

  main article .descripcion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: solid 1px #ebebeb;
    padding: 15px 10px;
    position: relative;
  }

  main section article i.fa-truck {
    display: block;
    color: var(--green);
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }

  section article p {
    width: 40%;
    font-size: 18px;
    color: var(--dark-grey);
  }
  article span {
    width: 60%;
    color: var(--green);
    margin-bottom: 10px;
    font-size: 16px;
  }

  .descripcion h3 {
    color: gray;
    font-weight: 400;
  }

  /*---------FOOTER--------*/
}

/*---------------------MEDIA QUERIES------------------------*/

@media (min-width: 520px) {
  body {
    font-size: 16px;
  }
  .logo-head {
    flex-wrap: nowrap;
  }
  .head-logo-img {
    width: 35%;
    height: 100%;
    padding-left: 30px;
  }

  .head-logo-img img {
    width: 100%;
    height: 100%;
  }

  .search-bar {
    margin-left: 9px;
    width: 30%;
  }

  .logo-head p {
    width: 35%;
  }

  .search-bar-input {
    height: 3vh;
    margin-right: 5px;
    border-radius: 2px;
    width: 85%;
  }
  .search-bar-form button {
    border-radius: 2px;
    height: 3vh;
  }
  .fa-search {
    width: 2vw;
    height: 3vh;
    padding-top: 6px;
  }

  .head .subtitulo {
    margin: 0;
    font-size: 0.8rem;
    margin-top: -1rem;
  }

  .navegacion {
    display: flex;
    justify-content: space-between;
  }

  .menu1 ul,
  .menu2 ul {
    display: flex;
    justify-content: space-around;
    margin: 15px;
  }
  .menu1 ul li,
  .menu2 ul li {
    display: block;
    margin: 8px;
  }

  .conten-burger {
    display: none;
  }

  .banner {
    display: block;
  }

  .main .productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .main article h3 {
    display: inline-block;
  }

  .main article {
    width: 43%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .main h2 {
    text-align: left;
    margin: 24px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
  }

  .head-logo-img {
    width: 33%;
  }

  .head .subtitulo {
    margin: 0;
    font-size: 0.8rem;
    margin-top: 0rem;
  }

  .search-bar {
    width: 35%;
  }

  .logo-head p {
    width: 30%;
  }
  .search-bar-form {
    margin: 0 20px;
  }
  .search-bar-input {
    width: 80%;
  }
  .main article {
    width: 24.5%;
  }

  .navegacion {
    font-size: 0.9rem;
  }
  .search-bar {
    padding-right: 60px;
  }
  .descripcion h3 {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .main article {
    width: 20%;
  }

  section article p {
    width: 41%;
    font-size: 18px;
  }
  .descripcion h3 {
    font-size: 16px;
    margin-top: -13px;
  }
}
